html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 0%, 80%);
  margin: 0px 0px 0px 0px;
}
#main {
  font-family: "Raleway", sans-serif;
}
.hero {
  background: linear-gradient(rgba(9, 9, 121, 0.42), rgba(2, 0, 36, 0.27)),
    rgba(0, 212, 255, 0.19)
      url("https://res.cloudinary.com/jachimiakpics/image/upload/v1557968885/6USnpTforweb_cpvfsc.jpg");
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: cover;
  padding-top: 300px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "hero hero2 "
    "caption caption2";
}

#titlebox {
  font-size: 36pt;
  justify-self: center;
  align-self: center;
  color: #fff;
  padding-left: 5%;
}

#title {
  font-weight: 200;
  margin-bottom: 0px;
}

.line {
  width: 1fr;
  height: 47px;
  border-top: 2px solid #fff;
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 24pt;
    justify-self: center;
    align-self: center;
    color: #fff;
    padding-left: 5%;
  }
}

@media screen and (max-width: 400px) {
  #title {
    font-size: 18pt;
    justify-self: center;
    align-self: center;
    color: #fff;
    padding-left: 5%;
  }
}

#cairne-resize {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

main {
  padding: 0 5px 0 5px;
}

.dropquote {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "quote"
    "byline";
  margin: 4em;
}

.quotes {
  justify-self: center;
  align-self: center;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.3em;
  font-size: 24pt;
  color: #8c1616;
  text-transform: uppercase;
  grid-area: quote;
}

.quote_line {
  width: 1fr;
  height: 10px;
  border-top: 2px solid #fff;
}

main > div.dropquote > div.quotes > p {
  margin-bottom: 0.3em;
}
.quotes_byline {
  justify-self: center;
  align-self: start;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: lowercase;
  grid-area: byline;
}

main > div.dropquote > div.quotes_byline > p {
  margin-top: 0.5em;
}

.thunder_bluff {
  background: linear-gradient(
      135deg,
      rgba(250, 198, 149, 0.3) 0%,
      rgba(245, 171, 102, 0.3) 47%,
      rgba(239, 141, 49, 0.3) 100%
    ),
    url("https://res.cloudinary.com/jachimiakpics/image/upload/v1557923518/786505-thunder-bluff_xv2mvw.jpg");
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
  padding-top: 500px;
}

#main-grid-area {
  display: grid;
  grid-auto-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5em;
  margin: 0 auto;
  width: 66%;
}

#tribute-info {
  grid-column-end: span 2;
  padding-right: 10px;
}

@media screen and (max-width: 1000px) {
  #tribute-info {
    grid-column-end: span 3;
    padding-right: 10px;
  }
  #img-div {
    grid-column-end: span 3;
    justify-self: center;
    align-self: center;
  }
}

@media screen and (max-width: 400px) {
  #tribute-info {
    grid-column-end: span 3;
    padding-right: 10px;
  }
  #img-div {
    grid-column-end: span3;
    justify-self: center;
    align-self: center;
  }
}

div#tribute-info p {
  font-size: 14pt;
}

div > #tribute-info h2 {
  font-size: 18pt;
}

#tribute-info2 {
  grid-column-end: span 3;
  padding-right: 10px;
}

div > #tribute-info2 p {
  font-size: 14pt;
}

div > #tribute-info2 h2 {
  font-size: 18pt;
}

#img-div {
  justify-self: center;
  align-self: center;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
}

#img-caption {
  grid-area: quote;
  justify-self: center;
  align-self: center;
  font-size: 12pt;
  text-align: center;
}

#tribute-link {
  text-decoration: none;
}

#tribute-link:hover{
  color: #8C1616;
}

