html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(0, 0%, 80%);
  margin: 0px;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "hero"
    "caption";
}

footer {
}

main {
}

#title {
  grid-area: hero;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 5em;
  z-index: 2;
  margin: auto auto auto 5em;
  padding: 2%;
  color: white;
  background-color: rgba(22, 22, 22, 0.7);
}
#img-div {
  grid-area: hero;
}

#img-div2 {
  max-height: 400px;
  overflow: hidden;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  position: relative;
  bottom: 75px;
}

@media (max-width: 800px) {
  #image {
    max-width: 100%;
    display: block;
    height: auto;
    position: relative;
    bottom: 0px;
  }
}

@media (min-width: 1800px) {
  #image {
    max-width: 100%;
    display: block;
    height: auto;
    position: relative;
    bottom: 150px;
  }
}

#img-caption {
  display: flex;
  justify-content: center;
  font-size: 24px;
  grid-area: caption;
}
